# 3. Lists in Python

 * Lists are ordered.
 * Lists can contain an arbitrary objects.
 * Lists elemenents can be accessed by index.
 * Lists can be nested to arbitrary depth.
 * Lists are mutable.
 * Lists are dynamic.

In [10]:
# Creating a list.

nlis=['Python',22,2023,1]
print(nlis)
print(type(nlis))

['Python', 22, 2023, 1]
<class 'list'>

In [11]:
# List accessed by positive indexing.
print('Positive indexing of list:',nlis[0])
print('Positive indexing of list:',nlis[1])
print('Positive indexing of list:',nlis[2])
print('Positive indexing of list:',nlis[3])

Positive indexing of list: Python
Positive indexing of list: 22
Positive indexing of list: 2023
Positive indexing of list: 1

In [15]:
# List accessed by Negative indexing.
print('Negative indexing of list:',nlis[-1])
print('Negative indexing of list:',nlis[-2])
print('Negative indexing of list:',nlis[-3])
print('Negative indexing of list:',nlis[-4])

Negative indexing of list: 1
Negative indexing of list: 2023
Negative indexing of list: 22
Negative indexing of list: Python

In [22]:
print(nlis[0:2])
print(nlis[2:3])

['Python', 22]
[2023]

#  What can content a list?


 * Strings
 * Floats
 * Integer
 * Boolean
 * Nested List.
 * Nested Tuple.
 * Other Data Structures.

In [23]:
nlis1=['Python',3.14,14,2023,True,False,[1,2,3,4,5,6],('Hello World',3.14,2023)]
print(nlis1)
print(type(nlis1))

['Python', 3.14, 14, 2023, True, False, [1, 2, 3, 4, 5, 6], ('Hello World', 3.14, 2023)]
<class 'list'>

# List Operations

In [24]:
# lenght

len(nlis1)

8

# Slicing of list

In [32]:
nlis1=['Python',3.14,14,2023,True,False,[1,2,3,4,5,6],('Hello World',3.14,2023)]
print(nlis1)
print(nlis1[4:5])
print(nlis1[5:6])
print(nlis1[6:7])
print(nlis1[7:8])

['Python', 3.14, 14, 2023, True, False, [1, 2, 3, 4, 5, 6], ('Hello World', 3.14, 2023)]
[True]
[False]
[[1, 2, 3, 4, 5, 6]]
[('Hello World', 3.14, 2023)]

In [39]:
print(nlis1[6][2])

3

# Extending the list

 * We use the extend() function to add a new element to the list.
 * With the function, we add more than one element to the list.

In [46]:
nlis1=['Python',3.14,14,2023,True,False,[1,2,3,4,5,6],('Hello World',3.14,2023)]
print(nlis1)

nlis1.extend(['Ajinkya',19])
print(nlis1)
nlis1.extend(['Amit',30,'Rohit Sharm',45])
print(nlis1)

['Python', 3.14, 14, 2023, True, False, [1, 2, 3, 4, 5, 6], ('Hello World', 3.14, 2023)]
['Python', 3.14, 14, 2023, True, False, [1, 2, 3, 4, 5, 6], ('Hello World', 3.14, 2023), 'Ajinkya', 19]
['Python', 3.14, 14, 2023, True, False, [1, 2, 3, 4, 5, 6], ('Hello World', 3.14, 2023), 'Ajinkya', 19, 'Amit', 30, 'Rohit Sharm', 45]

# append() method

 * As differed form the extend() method, with the append() method, we add only one element
 to the list.
 * You can see the difference by comparing the above and below codes.

In [51]:
nlis1=['Python',3.14,14,2023,True,False,[1,2,3,4,5,6],('Hello World',3.14,2023)]
print(nlis1)

nlis1.append(['hello world',1.618])
print(nlis1)
nlis1.append(['Amit'])
print(nlis1)

['Python', 3.14, 14, 2023, True, False, [1, 2, 3, 4, 5, 6], ('Hello World', 3.14, 2023)]
['Python', 3.14, 14, 2023, True, False, [1, 2, 3, 4, 5, 6], ('Hello World', 3.14, 2023), ['hello world', 1.618]]
['Python', 3.14, 14, 2023, True, False, [1, 2, 3, 4, 5, 6], ('Hello World', 3.14, 2023), ['hello world', 1.618], ['Amit']]

In [55]:
# insert() method.
nlis1=['Python',3.14,14,2023,True,False,[1,2,3,4,5,6],('Hello World',3.14,2023)]
print(nlis1)

nlis1.insert(7,8)
print(nlis1)

['Python', 3.14, 14, 2023, True, False, [1, 2, 3, 4, 5, 6], ('Hello World', 3.14, 2023)]
['Python', 3.14, 14, 2023, True, False, [1, 2, 3, 4, 5, 6], 8, ('Hello World', 3.14, 2023)]

# Changing the element of a list since it is mutable.

In [7]:
nlis1=['Python',3.14,14,2023,True,False,[1,2,3,4,5,6],('Hello World',3.14,2023)]


print('Before Changing:',nlis1)
nlis1[0]='Amit'
print('After Changing:',nlis1)

nlis1[6][5]='E'
print('After Changing:',nlis1)
nlis1[7][0]='Ajinkya'
print('After Changing:',nlis1)

Before Changing: ['Python', 3.14, 14, 2023, True, False, [1, 2, 3, 4, 5, 6], ('Hello World', 3.14, 2023)]
After Changing: ['Amit', 3.14, 14, 2023, True, False, [1, 2, 3, 4, 5, 6], ('Hello World', 3.14, 2023)]
After Changing: ['Amit', 3.14, 14, 2023, True, False, [1, 2, 3, 4, 5, 'E'], ('Hello World', 3.14, 2023)]

TypeError: 'tuple' object does not support item assignment

# Deleting the element from the list using del() function.

In [12]:
nlis1=['Python',3.14,14,2023,True,False,[1,2,3,4,5,6],('Hello World',3.14,2023)]
print('Before Deleting:',nlis1)
del(nlis1[5])
print('After Deleting:',nlis1)
del(nlis1[5][5])
print('After Deleting:',nlis1)
del(nlis1[6][0])
print('After Deleting:',nlis1)

Before Deleting: ['Python', 3.14, 14, 2023, True, False, [1, 2, 3, 4, 5, 6], ('Hello World', 3.14, 2023)]
After Deleting: ['Python', 3.14, 14, 2023, True, [1, 2, 3, 4, 5, 6], ('Hello World', 3.14, 2023)]
After Deleting: ['Python', 3.14, 14, 2023, True, [1, 2, 3, 4, 5], ('Hello World', 3.14, 2023)]

TypeError: 'tuple' object doesn't support item deletion

In [13]:
nlis1=['Python',3.14,14,2023,True,False,[1,2,3,4,5,6],('Hello World',3.14,2023)]
print('Before Deleting:',nlis1)
del(nlis1[7])
print('After Deletion:',nlis1)

Before Deleting: ['Python', 3.14, 14, 2023, True, False, [1, 2, 3, 4, 5, 6], ('Hello World', 3.14, 2023)]
After Deletion: ['Python', 3.14, 14, 2023, True, False, [1, 2, 3, 4, 5, 6]]

# Conversion of a string into a list by using split() function.

In [14]:
message='Python is a programming language.'

message.split()

['Python', 'is', 'a', 'programming', 'language.']

In [19]:
msg='Ajinkya kad'
msg.split()

['Ajinkya', 'kad']

# Use of split() function with a delimiter.

In [23]:
text='A,j,i,n,k,y,a,k,a,d'
text.split(",")

['A', 'j', 'i', 'n', 'k', 'y', 'a', 'k', 'a', 'd']

In [34]:
text1='A,B,C,D,E,F,G,H,I,J'
print(type(text1))
text1[3]
print(text1)

<class 'str'>
A,B,C,D,E,F,G,H,I,J

In [31]:
text1='A,B,C,D,E,F,G,H,I,J'

text1.split(',')

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [33]:
z=['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']
print(type(z))
print(z[3])

<class 'list'>
D

# Basic operations of list

In [43]:
a_1=['a','b','Hello','Python']
b_2=[1,2,3,4,5,6]

print(len(a_1))
print(len(b_2))
print(a_1+b_2)
print(a_1*3)
print(b_2*3)
for i in a_1:
    print(i)
    
for i in b_2:
    print(i)

4
6
['a', 'b', 'Hello', 'Python', 1, 2, 3, 4, 5, 6]
['a', 'b', 'Hello', 'Python', 'a', 'b', 'Hello', 'Python', 'a', 'b', 'Hello', 'Python']
[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]
a
b
Hello
Python
1
2
3
4
5
6

# Copy the list

In [45]:
nlis1=['Python',3.14,14,2023,True,False,[1,2,3,4,5,6],('Hello World',3.14,2023)]
print('Original list: ',nlis1)
copy_list=nlis1
print("Copy list:",copy_list)

Original list:  ['Python', 3.14, 14, 2023, True, False, [1, 2, 3, 4, 5, 6], ('Hello World', 3.14, 2023)]
Copy list: ['Python', 3.14, 14, 2023, True, False, [1, 2, 3, 4, 5, 6], ('Hello World', 3.14, 2023)]

In [47]:
# The element in the copied list also changes when the element in the original list was changed.
# See the following examples:

nlis1=['Python',3.14,14,2023,True,False,[1,2,3,4,5,6],('Hello World',3.14,2023)]

print(nlis1)
copy_list=nlis1
print(copy_list)
print('Copy list[0]: ',copy_list[0])
nlis1[0]='Matplotlib'
print('Copy list[0]:',copy_list[0])

['Python', 3.14, 14, 2023, True, False, [1, 2, 3, 4, 5, 6], ('Hello World', 3.14, 2023)]
['Python', 3.14, 14, 2023, True, False, [1, 2, 3, 4, 5, 6], ('Hello World', 3.14, 2023)]
Copy list[0]:  Python
Copy list[0]: Matplotlib

In [50]:
# When an element in the original list changed, the element in the clone list does not changed.

nlis1=['Python',3.14,14,2023,True,False,[1,2,3,4,5,6],('Hello World',3.14,2023)]

print(nlis1)
clone_list=nlis1[:]
print(clone_list)
print('Clone_list[0]:',clone_list[0])
nlis1[0]='Hello World'
print('nlis1[0]:',nlis1[0])

['Python', 3.14, 14, 2023, True, False, [1, 2, 3, 4, 5, 6], ('Hello World', 3.14, 2023)]
['Python', 3.14, 14, 2023, True, False, [1, 2, 3, 4, 5, 6], ('Hello World', 3.14, 2023)]
Clone_list[0]: Python
nlis1[0]: Hello World

#  Concatenate the list

In [52]:
a_list=['a','b','c',['d','e'],'f']

b_list=[1,2,3,4,5,6,(7,8),True,False]

print(a_list+b_list)
new_list=a_list+b_list
print(new_list)

['a', 'b', 'c', ['d', 'e'], 'f', 1, 2, 3, 4, 5, 6, (7, 8), True, False]
['a', 'b', 'c', ['d', 'e'], 'f', 1, 2, 3, 4, 5, 6, (7, 8), True, False]

# As different from the list, I also find significant the followint information.


 * input() function
  * input() function in python provides a user of a program supply inputs to the program at runtime.

In [2]:
text=input('Enter your text: ')

print('You Entered your text is: ',text)
print(type(text))

Enter your text: 69
You Entered your text is:  69
<class 'str'>

In [3]:
text1=int(input('Enter your text: '))
print('You Entered your text is: ',text1)
print(type(text1))

Enter your text: 456
You Entered your text is:  456
<class 'int'>

In [5]:
text1=float(input('Enter your text: '))
print('You Entered your text is: ',text1)
print(type(text1))

Enter your text: 789.023
You Entered your text is:  789.023
<class 'float'>

# eval() functions.

 * This function serves the aim of converting a string to an integer or a float.

In [17]:
experssion='8+7'
print(experssion)
print(type(experssion))

total=eval(experssion)
print('Sum of the expression is: ',total)
print(type(total))

8+7
<class 'str'>
Sum of the expression is:  15
<class 'int'>

In [20]:
experssion='8+7.23'
print(experssion)
print(type(experssion))

total=eval(experssion)
print('Sum of the expression is: ',total)
print(type(total))

8+7.23
<class 'str'>
Sum of the expression is:  15.23
<class 'float'>

# format() function
 * This function helps to format the output pointed on the screen with good look and attractive.

In [10]:
a = float(input('Enter First number: '))
b = float(input('Enter Second number: '))

total= a+b
print(total)
print('The sum of Two number that is 78 and 78 is :',total)
print('The sum of {} and {} is {}.'.format(a,b,total))

Enter First number: 23
Enter Second number: 23
46.0
The sum of Two number that is 78 and 78 is : 46.0
The sum of 23.0 and 23.0 is 46.0.

In [36]:
a= input('Enter your favorite fruit: ')
b= input('Enter your favorite food: ')
print('I like {} and {}.'.format(a,b))
print('I like {} and {}'.format(b,a))
print('I like {0} and {1}'.format(a,b))
print('I like {1} and {0}'.format(a,b))

Enter your favorite fruit: Apple
Enter your favorite food: Biryani
I like Apple and Biryani.
I like Biryani and Apple
I like Apple and Biryani
I like Biryani and Apple

# Comparison Operators

 * The operators such as <,>,<=,>=,== and != compare the certain two operands and return True of False.

In [42]:
a = 3.14
b= 1.618

print('a>b is:',a>b)
print('a<b is:',a<b)
print('a<=b is:',a<=b)
print('a>=b is:',a>=b)
print('a==b is:',a==b)
print('a!=b is:',a!=b)

a>b is: True
a<b is: False
a<=b is: False
a>=b is: True
a==b is: False
a!=b is: True

# Logical operators
 * The operators including and, or, not are utilised to bring two conditions together and access them. 
 * The  output returns True or False.

In [4]:
a = 3.14
b = 2.718
c = 12
d = 3.14

print(a>b and c>a)
print(b>c and d>a)
print(b<c and d>a)
print(not a==b)
print(not a==d)

True
False
False
True
False

In [9]:
a = 3.14
b = 2.718
c = 12
d = 3.14

print(a>b or c>a)
print(b>c or d>a)
print(b<c or d>a)
print(not a==b)
print(not a==d)

True
False
True
True
False

# Assignment operators

 * The operators including =, +=, -=, /=,%=, //=, *=, &=, \=, ^=, >>= and <<= are employed to 
 evaluate a value to a variable.

In [10]:
x = 3.14
x+=5
print(x)

8.14

In [11]:
x-=3
print(x)

5.140000000000001

In [12]:
x/=5
print(x)

1.028

In [16]:
x = 6
x/=5
print(x)

1.2

# Identity operators

 * The operators is or is not are employed to control if the operands or objects to the left and right of these operators are referring to a value stored in the same memory location and return True or False.

In [31]:
a = 3.14
b= 1.618
print(a is b)
print(a is not b)
msg1='Hello, python'
msg2= 'Hello, World'
print(msg1 is msg2)
print(msg1 is not msg2)

lis1=[1,2,3,4,5]
lis2=[1,2,3,4,5]
print(lis1 is lis2)
print(lis1 is not lis2)

False
True
False
True
False
True

# Membership operators
 * These operators including in and not in are employed to check if the certain value is available in the 
 Sequence of value and return True or False.

In [35]:
nlis=['Hello',6,7,8,9,10,{'name':'python'},{1,2,3},[1,2,3]]

print(5 in nlis)
print('Hello' in nlis)
print('Hello' not in  nlis)

False
True
False

In [9]:
x='8+7'
print(type(x))
y=eval(x)
print(y)
print(type(y))

<class 'str'>
15
<class 'int'>

In [16]:
x=int(input('Enter any number: '))
y=int(input('Enter second number: '))

z=x+y
print(z)
print('The addition of two value is 23 and 23 is:',z)

print('The addition of {} and {} is {}.'.format(x,y,z))

Enter any number: 78
Enter second number: 89
167
The addition of two value is 23 and 23 is: 167
The addition of 78 and 89 is 167.