# 4. Tuples in Python


 * Tuples are immutable lists and cannot be changed in any way once it is created.
  * Tuples are enclosed with parenthesis and not within square braces.
  * Tuples are ordered, indexed collections of data.
  * Similar to string indices, the first value in the tuple will have the index[0], second value [1].
  * Negative indices are counted from the end of the tuple, just like lists.
  * Tuple also has the same structured where commas separate the value.
  * Tuples can store duplicate value.
  * Tuples allow you to store several data items including string, integer, float in one variable.

In [2]:
x = ('Hello','Python',3.14,True,False,[1,2,3],{1,2,3},{'name':'Python'},(0,1))
print(x)
print(type(x))

('Hello', 'Python', 3.14, True, False, [1, 2, 3], {1, 2, 3}, {'name': 'Python'}, (0, 1))
<class 'tuple'>

In [3]:
print(len(x))

9

In [5]:
print(x[0])
print(x[8])

Hello
(0, 1)

In [6]:
print(x[-3])

{1, 2, 3}

# Concatenate tuple+ sign is used

In [7]:
tuple_1= x +('Hello','world',3.14,1.618)
print(tuple_1)

('Hello', 'Python', 3.14, True, False, [1, 2, 3], {1, 2, 3}, {'name': 'Python'}, (0, 1), 'Hello', 'world', 3.14, 1.618)

In [11]:
tuple_2=x+('Amit',)
tuple_2

('Hello',
 'Python',
 3.14,
 True,
 False,
 [1, 2, 3],
 {1, 2, 3},
 {'name': 'Python'},
 (0, 1),
 'Amit')

In [12]:
print(len(x))

9

In [17]:
tuple_2[9]='Hello'
print(tuple_2)

TypeError: 'tuple' object does not support item assignment

In [1]:
x= ('Hello', 'Python', 3.14, True, False, [1, 2, 3], {1, 2, 3}, {'name': 'Python'}, (0, 1), 'Hello', 'world', 3.14, 1.618)

print(x)

('Hello', 'Python', 3.14, True, False, [1, 2, 3], {1, 2, 3}, {'name': 'Python'}, (0, 1), 'Hello', 'world', 3.14, 1.618)

In [3]:
del(x)
print(x)

NameError: name 'x' is not defined

In [4]:
del(x[0])

NameError: name 'x' is not defined

In [5]:
x=('Hello', 'Python', 3.14, True, False, [1, 2, 3], {1, 2, 3}, {'name': 'Python'}, (0, 1), 'Hello', 'world', 3.14, 1.618)
del(x[0])

TypeError: 'tuple' object doesn't support item deletion

In [8]:
y=(1,2,3,4,5,6,)
min(y)

1

In [9]:
max(y)

6

# tup (seq) function

 * It converts a specific sequence to a tuple.

In [13]:
seq='AMITxjca;jfoajofnasoi'
tuple(seq)

('A',
 'M',
 'I',
 'T',
 'x',
 'j',
 'c',
 'a',
 ';',
 'j',
 'f',
 'o',
 'a',
 'j',
 'o',
 'f',
 'n',
 'a',
 's',
 'o',
 'i')

# Slicing
 * To obtain a new tuple from the current tuple, the slicing method is used.

In [14]:
x=('Hello', 'Python', 3.14, True, False, [1, 2, 3], {1, 2, 3}, {'name': 'Python'}, (0, 1))
x

('Hello',
 'Python',
 3.14,
 True,
 False,
 [1, 2, 3],
 {1, 2, 3},
 {'name': 'Python'},
 (0, 1))

In [17]:
x[4]

False

In [18]:
x[0:5]

('Hello', 'Python', 3.14, True, False)

In [19]:
len(x)

9

In [20]:
# Tuple can be sorted and save as a new tuple.

tuple_3=(0,7,8,9,4,5,1,2,3,4,5,67,8)
sorted_tuple=sorted(tuple_3)
print(sorted_tuple)

[0, 1, 2, 3, 4, 4, 5, 5, 7, 8, 8, 9, 67]

# Tuples are immutable

In [22]:
tuple_4=(1,2,3,4,5)

tuple_4[0]=9
print(tuple_4)

TypeError: 'tuple' object does not support item assignment

# Deleting a tuple

 * An element in a tuple can not be deleted since it is mutable.
 * But a whole tuple can be deleted.

In [23]:
tuple_5=(1,2,3,4,5,6)
print('Before deleting:',tuple_5)
del tuple_5
print('After deleting:',tuple_5)

Before deleting: (1, 2, 3, 4, 5, 6)

NameError: name 'tuple_5' is not defined

# Count() method

 * This method returns the numbers of time an item occurs in a tuple

In [26]:
tuple_6=(1,1,2,2,3,3,3,3,3,4,5,5,5,6,6,7,8,8,8,9,)

print(tuple_6.count(1))
print(tuple_6.count(3))
print(tuple_6.count(7))

2
5
1

# index() method

 * It returns the index of the first occurrence of the specified value in a tuple

In [28]:
tuple_6=(1,1,2,2,3,3,3,3,3,4,5,5,5,6,6,7,8,8,8,9,)

print(tuple_6.index(7))
print(tuple_6.index(9))

15
19

# One element tuple

 * If a tuple includes only one element, you should put a comma after the element. Otherwise it is not considered as a tuple.

In [34]:
x = (1,)
print(x)
print(type(x))

(1,)
<class 'tuple'>