# 5. Sets in Python
 
 
 * Sets is one of the 4 built-in data types in Python used to store collections of data including List, Tuples and Dictionary.
 * Sets are unordered, but you can remove item and add new items.
 * Set elements are unique, Duplicate elements are now allowed.
 * A set itself may be modified, but the elements contained in the set must be of an immutable type.
 * Sets are used to store multiple items in a single variable.
 * You can denote a set with a pair of curly brackets {}.

In [4]:
# The empty set of curly braces denotes the empty dictionary, not empty set.

x = {}
type(x)

dict

In [5]:
# To take a set without element, use set() function without ony items.
x=set()
type(x)

set

In [6]:
# Take a sample set.

set1={'Hello world',3.14,1.618,'Hello Python',3.14,1.618,True,False,2023}
print(set1)

{False, 1.618, True, 3.14, 'Hello Python', 'Hello world', 2023}

# Converting list to set.

In [9]:
x=['Hello world',3.14,1.618,'Hello Python',3.14,1.618,True,False,2023]
print(x)
print(type(x))

set2=set(x)
print(set2)
print(type(set2))

['Hello world', 3.14, 1.618, 'Hello Python', 3.14, 1.618, True, False, 2023]
<class 'list'>
{False, 1.618, True, 3.14, 'Hello world', 2023, 'Hello Python'}
<class 'set'>

In [10]:
set3=set(['Hello world',3.14,1.618,'Hello Python',3.14,1.618,True,False,2023])
print(set3)
print(type(set3))

{False, 1.618, True, 3.14, 'Hello world', 2023, 'Hello Python'}
<class 'set'>

# add()

 * To add an element into a set, we use the function add(). If the same element is added to the set , nothing will happen because the set accepts no duplicates.

In [14]:
set3=set(['Hello world',3.14,1.618,'Hello Python',3.14,1.618,True,False,2023])

set3.add('Ajinkya')
print(set3)
set3.add('Ajinkya')
print(set3)

{False, 1.618, True, 3.14, 'Hello world', 2023, 'Hello Python', 'Ajinkya'}
{False, 1.618, True, 3.14, 'Hello world', 2023, 'Hello Python', 'Ajinkya'}

In [15]:
set3.add('Amit')
print(set3)

{False, 1.618, True, 3.14, 'Hello world', 'Amit', 2023, 'Hello Python', 'Ajinkya'}

# Update() function

To add multiple element into the set

In [17]:
x_set={6,7,8,9}
print(x_set)

x_set.update({3,4,5,6,7,8})
print(x_set)

{8, 9, 6, 7}
{3, 4, 5, 6, 7, 8, 9}

# remove() function

* To remove an element from the set.

In [21]:
set3=set(['Hello world',3.14,1.618,'Hello Python',3.14,1.618,True,False,2023])

set3.remove('Hello Python')
set3

{1.618, 2023, 3.14, False, 'Hello world', True}

In [22]:
set3.remove(3.14)
set3

{1.618, 2023, False, 'Hello world', True}

In [23]:
# To verify if element in the set.

3.14 in set3

False

In [24]:
False in set3

True

In [25]:
'Amit' in set3

False

In [26]:
set3

{1.618, 2023, False, 'Hello world', True}

In [27]:
set3.add('Amit')
set3

{1.618, 2023, 'Amit', False, 'Hello world', True}

In [28]:
'Amit' in set3

True

# Logic operations in Sets

In [1]:
set4={'Hello world',3.14,2023,1.618,2045}

set5={3.14,2023,1.618,True, False}

print(set4)
print(set5)

{1.618, 3.14, 'Hello world', 2023, 2045}
{False, 1.618, True, 3.14, 2023}

In [2]:
# Other method of printing set.
set4,set5

({1.618, 2023, 2045, 3.14, 'Hello world'}, {False, True, 1.618, 3.14, 2023})

# To find the intersect of two sets using &

In [3]:
set4={'Hello world',3.14,2023,1.618,2045}

set5={3.14,2023,1.618,True, False}


intersection=set4&set5
print(intersection)

{1.618, 3.14, 2023}

# To find intersect of two sets, use intersection method

In [4]:
set4.intersection(set5)   # The output is the same as that of above.

{1.618, 3.14, 2023}

# Difference() function

 * To find the difference between two sets.

In [9]:
set4={'Hello world',3.14,2023,1.618,2045}

set5={3.14,2023,1.618,True, False}


print(set4.difference(set5))
print(set5.difference(set4))


# The same process can make using substraction operators

print(set4-set5)
print(set5-set4)

{2045, 'Hello world'}
{False, True}
{2045, 'Hello world'}
{False, True}

# union() function

 * It corresponds to all the elements in both sets.

In [10]:
set4.union(set5)

{1.618, 2023, 2045, 3.14, False, 'Hello world', True}

# min(), max() and sum() functions.

In [17]:
a=[1,1,1,2,2,2,2,3,4,5,6,7,8]
b=[1,1,1,2,2,2,3,2,25,5,5,6,5,5]

print('The minimum number of a is:',min(a))
print('The maximum number of a is:',max(a))
print('The minimum number of b is:',min(b))
print("The maximum number of b is:",max(b))
print('The sum of a is:', sum(a))
print('The sum of b is:', sum(b))

The minimum number of a is: 1
The maximum number of a is: 8
The minimum number of b is: 1
The maximum number of b is: 25
The sum of a is: 44
The sum of b is: 65

#  No mutable sequence in a set

 * A set can not have mutable sequence element in such as list, dictionary in it. If any, it returns error are as follow:

In [19]:
# set accept the tuple data type because it is immutable and set is also.
set6={'Python',1,2,3,(1,2,3)}
set6

{(1, 2, 3), 1, 2, 3, 'Python'}

In [20]:
# Set do not accept the list data type.
set7={'Python',1,2,3,[1,2,3]}
set7

TypeError: unhashable type: 'list'

# Index() function

 * This function does not work in set since the set is unordered collection.

In [21]:
set8={1,2,3,4}
set8[2]

TypeError: 'set' object is not subscriptable

# Copy the set

In [26]:
set9={1,3,5,7,9}

print(set9)

set10=set9

print(set10)

set9.add(11)
print(set9)
print(set10)

""" 
As you see that althogh the number 11 is added into the set9, the added number is also added into the set 'set10'

"""

{1, 3, 5, 7, 9}
{1, 3, 5, 7, 9}
{1, 3, 5, 7, 9, 11}
{1, 3, 5, 7, 9, 11}

" \nAs you see that althogh the number 11 is added into the set9, the added number is also added into the set 'set10'\n"

# Clear() function

 It removes all elements in the set and then do the set empty.

In [28]:
x = {0,1,2,3,4,5,6,7,8,9}

print(x)

x.clear()

print(x)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
set()

# pop() function

 * It removes and return as arbitrary set element..

In [29]:
x = {0,1,2,3,4,5,6,7,8,9}
print(x)

x.pop()
print(x)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

# copy() function

 * It returns a shallow copy of the original set

In [33]:


set8={1,3,5,7,9}
print(set8)

set9=set8.copy()
print(set9)

set8.add(12)
print(set8)
print(set9)

{1, 3, 5, 7, 9}
{1, 3, 5, 7, 9}
{1, 3, 5, 7, 9, 12}
{1, 3, 5, 7, 9}