# 8. Loops in Python

 * A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set or a string).
 * This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-oriented programming languages.
 * With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.
 * The for loop does not require an indexing variable to set beforehand.
 * Withe the while loop we can execute a set of statements as long as a condition is true.
 * Note: remember to increment i, or else the loop will continue forever.
 * The while loop requires relevant variables to be ready, in this example we need to define and indexing variable, i, which we seto to 1.
 
 
# range() function

 * It is helpful to think of the range object as an ordered list.
 * To loop though as a set of code a sepcified number of times, We can use the range() function.
 * The range() function returns a sequence of numbers, starting form 0 by default, and increments by 1(by default) and ends at a specified number.

In [2]:
print(range(5))
print(range(0,10))

range(0, 5)
range(0, 10)

# for loop

 * The for loop enables you to execute a code block multiple times.

In [3]:
years=[2001,2002,2003,2004,2005,2006,2007,2008,2009,2010]

for i in years:
    print(i)

2001
2002
2003
2004
2005
2006
2007
2008
2009
2010

In [4]:
for years in years:
    print(years)

2001
2002
2003
2004
2005
2006
2007
2008
2009
2010

In [7]:
years=[2001,2002,2003,2004,2005,2006,2007,2008,2009,2010]

for i in range(len(years)):
    print(years[i])

2001
2002
2003
2004
2005
2006
2007
2008
2009
2010

In [12]:
for i in range(9,11):
    print(i)

9
10

In [3]:
# step value in loop

for i in range(2,20,3):
    print(i)

2
5
8
11
14
17

In [5]:
# Changing elements in the list.

languages=['Python','C','C++','Java']
for i in range(len(languages)):
    print('Before language:',i,'is',languages[i])

Before language: 0 is Python
Before language: 1 is C
Before language: 2 is C++
Before language: 3 is Java

In [7]:
#Enumeration of the elements in the list.
languages=['Python','C','C++','Java']

for index,language in enumerate(languages):
    print("Before language:",index,language)

Before language: 0 Python
Before language: 1 C
Before language: 2 C++
Before language: 3 Java

In [8]:
for i in range(-3,10):
    print(i)

-3
-2
-1
0
1
2
3
4
5
6
7
8
9

In [11]:
# Write a table using for loop.

number=int(input('Enter any number:'))

for i in range(1,11):
    print('%d x %d = %d' %(number,i,number*i))

Enter any number:36666
36666 x 1 = 36666
36666 x 2 = 73332
36666 x 3 = 109998
36666 x 4 = 146664
36666 x 5 = 183330
36666 x 6 = 219996
36666 x 7 = 256662
36666 x 8 = 293328
36666 x 9 = 329994
36666 x 10 = 366660

In [14]:
# Take a list:

lis=[12,4,5,6,66,48,100,1023.0,123.85]

count=0
for i in lis:
    count+=i
print("The total of number in list is: ",count)
print('The Average value of number in list is:',count/len(lis))

The total of number in list is:  1387.85
The Average value of number in list is: 154.20555555555555

# for else statement

In [15]:
for i in range(1,6):
    print(i,end=',')
else:
    print('These numbers from 1 to 5:')

1,2,3,4,5,These numbers from 1 to 5: